<footer class="footer">
    <div class="info-container">
        <div class="copyright-info info-item">

        </div>
        <div class="theme-info info-item"> &copy; 2018 - <%= date(new Date(), 'YYYY') %>  OMGSWAP.IN & <a target="_blank" href="https://omgswap.in">Ǒmega Protocol</a> | All Right Reserved.
        </div>
    </div>
</footer>
